{% include 'templates/default.twig' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ base_url()}}/css/login.css">
{% endblock %}
{% block content %}

  <div class="container-fluid">
    
{% include 'templates/partials/flash.twig' %}
    <div class="wrapper">
    <form class="form-signin" method="post" action="{{ path_for('post.forgot-password')}}">
      <!-- <h4 class="form-signin-heading " ><b>Lupa Password ?</b></h4> -->
       <div class="text-left">
        <p>SILAKAN MASUKAN ALAMAT EMAIL ANDA</p>
      </div>
      <!-- <center> -->
                <div class="control-group {{ errors.email ? 'has-error' : '' }}">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span>
                            <input name="email" type="text"
                            value="{{ old.email}}" placeholder="Email" class="form-control" />
                            {% if errors.email %}
                            <span style="color:#76323f; font-weight: normal; font-size:15px; text-align: left;" class="help-inline">{{errors.email | first}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
      <br>

      <input class="btn-masuk" type="submit" style="color:white;"value="KIRIM" >
    </form>
  </div>
</div>
{% endblock %}