{% include 'templates/default.twig' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ base_url()}}/css/login.css">
{% endblock %}
{% block content %}

  <div class="container-fluid">
    
{% include 'templates/partials/flash.twig' %}
 <div class="wrapper">
    <form class="form-signin" action="{{path_for('post.reset-password')}}" method="post">
      <!-- <h4 class="form-signin-heading text-left" ><b>Reset Password</b></h4> -->
       <div class="text-left">
        <p>SILAKAN MASUKAN PASSWORD BARU ANDA</p>
      </div>
                <div class="control-group {{ errors.password ? 'has-error' : '' }}">
                    <div class="controls">
                        <div class="main_input_box">
                            <input name="password" type="password"
                            value="{{ old.password}}" placeholder="Password" class="form-control" />
                            {% if errors.password %}
                            <span style="color:#76323f; font-weight: normal; font-size:15px; text-align: left;" class="help-inline">{{errors.password | first}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="control-group  {{ errors.confirm_password ? 'has-error' : '' }}">
                    <div class="controls">
                        <div class="main_input_box">
                            <input name="confirm_password" type="password"
                            value="{{ old.confirm_password}}" placeholder="Konfirmasi Password"  class="form-control" />
                            {% if errors.confirm_password %}
                            <span style="color:#76323f; font-weight: normal; font-size:15px; text-align: left;" class="help-inline">{{errors.confirm_password | first}}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
      <br>
                <input type="hidden" name="token" value="{{ token }}">

      <input class="btn-masuk" type="submit" style="color:white;" name="submit" value="KIRIM">
    </form>
  </div>
</div>
{% endblock %}