{% extends 'campaign/dashboard/campaign-dashboard.twig' %}
{% block contents %}
  <div class="breadcrumb text-left">
   <h4 style="color:white">RINGKASAN</h4>
</div>  

<div class="row  text-center ringkasan-row">
  <div class="col-sm-4 ringkasan">
    <h4 class="ringkasan-header">{{ jumlah_donatur}}</h4>
    <small class="ringkasan-small">donatur</small>
  </div>
  <div class="col-sm-4 ringkasan">
    <h4 class="ringkasan-header" >{{ data.deadline }}</h4>
    <small class="ringkasan-small">Hari Lagi</small>
  </div>
  <div class="col-sm-4 ringkasan">
    <h4 class="ringkasan-header">{{ progress }}%</h4>
    <small class="ringkasan-small">Tercapai </small>
  </div>
</div>

<div class="breadcrumb text-left">
   <h4 style="color:white">TOTAL DANA</h4>
</div>  
<div class="row ringkasan-row">
  <div class="col-lg-12 ringkasan-col">
  <div class="row">
  <div class="col-sm-9">Total donasi terkumpul</div>
  <div class="col-sm-1">Rp</div>
  <div class="col-sm-2 text-right">{{ jumlah_donasi }}</div>
  
  </div> 

   <div class="row">
  <div class="col-sm-9">Biaya Administrasi</div>
  <div class="col-sm-1">Rp</div>
  <div class="col-sm-2 text-right">{{ administrasi }}</div>
  </div>   
  <hr style="border: 0.08em solid #76323f" >
  <div class="row">
  <div class="col-sm-9">Donasi yang bisa dicairkan</div>
  <div class="col-sm-1">Rp</div>
  <div class="col-sm-2 text-right">{{ dana_cair }}</div>
  </div>

  </div>
</div>

{% endblock %}