{% block password %}
      <form action="{{ path_for('edit-password')}}" method="post" accept-charset="utf-8" class="form-group">
         <div class="row">
           <div class="col-md-4">
             <span class="text-profil">PASSWORD LAMA</span>
           </div>
           <div class="col-md-6">
             <input class="form-control" type="password" name="password" value="{{ old.password }}">
              {% if errors.password %}
               <span style="color:#76323f; font-weight:normal; font-size:15px; text-align: left;" class="help-inline text-center">
               {{  errors.password | first }}
               </span>
              {% endif %}
           </div>
         </div>
         <div class="row">
           <div class="col-md-4">
             <span class="text-profil">PASSWORD BARU</span>
           </div>
           <div class="col-md-6">
             <input class="form-control" type="password" name="new_password" value="{{ old.new_password }}">
                {% if errors.new_password %}
               <span style="color:#76323f; font-weight:normal; font-size:15px; text-align: left;" class="help-inline text-center">
               {{  errors.new_password | first}}
               </span>
              {% endif %}
           </div>
         </div>
         <div class="row">
           <div class="col-md-4">
             <span class="text-profil">KONFIRMASI PASSWORD</span>
           </div>
           <div class="col-md-6">
             <input class="form-control" type="password" name="confirm_password"  value="{{ old.confirm_password }}">
                {% if errors.confirm_password %}
               <span style="color:#76323f; font-weight:normal; font-size:15px; text-align: left;" class="help-inline text-center">
               {{  errors.confirm_password | first}}
               </span>
              {% endif %}
           </div>
         </div>      
         <div class="col-md-10 text-right ">
            <button type="submit"  class="btn btn-pengaturan">SIMPAN</button>
         </div>
      </form>
{% endblock %}