{% extends 'admin/index.twig' %}

{% block main %}
{% include 'templates/partials/flash.twig' %}
<div class="row" style="margin-bottom: 1%">
    <div class="col-lg-6 text-left" style="color:black"><h2><b>Campaign Categories</b></h2></div>
    <div class="col-lg-6 text-right"><button class="btn-primary" style="width:30%; border-radius:5px" data-toggle="modal" data-target="#modal1">Add Category</button></div>
</div>
  
{% set no = 1 %}
<div class="row ringkasan-row">
  <div class="col-lg-12">
    <table id="example" class="table table-striped table-bordered" >
      <tr>
        <th class="text-center">No</th>
        <th>Name</th>
        <th class="text-center">Action</th>
      </tr>
      {% for key, data in data %}
      <tr>
        <td class="text-center">{{ key + 1 + (pagination.perpage * (pagination.current - 1 ))}}</td>
        <td class="text-left">{{ data.category}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="text-center">
            <button class="btn-primary" style="border-radius:5px" data-toggle="modal" data-target="#modal1{{ data.id }}">Edit</button>
            <button class="btn-danger" style="border-radius:5px" data-toggle="modal" data-target="#modal2{{ data.id }}">Delete</button></td>
      </tr>
      <!-- Modal 1 -->
        <div class="modal fade" id="modal1" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Add Category</h4>
              </div>
              <div class="modal-body">
               <form action="{{ path_for('category.add')}}" method="post" >
                   <input type="text" name="category" placeholder="Category Name" required style="width:100%">
              </div>
              <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Add</button>
              </div>
                </form>
            </div>
          </div>
        </div>
        
        <!-- Modal 1 id -->
        <div class="modal fade" id="modal1{{ data.id }}" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Edit Category</h4>
              </div>
              <div class="modal-body">
               <form action="{{ path_for('category.edit', {'id': data.id })}}" method="post" >
                   <input type="text" name="category" value="{{ data.category }}" required style="width:100%">
              </div>
              <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
                </form>
            </div>
          </div>
        </div>

        <!-- Modal 2 -->
        <div class="modal fade" id="modal2{{ data.id }}" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Verifikasi</h4>
              </div>
              <div class="modal-body">
                <h4>Apakah Anda yakin menghapus Kategori <span style="text-transform:capitalize">{{ data.category }}</span> ? </h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
               <a href="{{ path_for('category.delete', {'id': data.id })}}"><button type="submit" class="btn btn-danger">Hapus</button></a>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}
     </table>
     <center>
         <div class="col-lg-12" style="">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if pagination.current > 1 %}
                <li class="page-item"><a class="page-link"  title="Sebelumnya" href="{{ base_url()}}/secret/admin/categories?page={{ pagination.current - 1 }}">«</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ pagination.current }}</a></li>
                {% if pagination.current < pagination.total_page  %}
                <li class="page-item"><a class="page-link"  title="Berikutnya" href="{{ base_url()}}/secret/admin/categories?page={{ pagination.current + 1 }}">»</a></li>
                {% endif %}
              </ul>
            </nav>
        </div> 
      </center>
  </div>
</div>

    

<script>
</script>
    
{% endblock %}